<!DOCTYPE html>
<html>
<head>
	<title>Edit Car</title>
</head>
<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<%= form_tag({:controller => "cars", :action => "create_car"},:method => "post", :multipart => true, :class =>'') do %>
						<table style="width: 90%;">
							<tr><h1 style="color:#ffffff;">New Car</h1></tr>
							<tr><p align="center"><img src="<%= !@cars.blank? ?  @cars.photo : '' %>" width="200" height="100" align="center"></p></tr>
							<tr><input style="border-radius: 10px;" type="file" name="photo" width="300" class="form-control" ></tr>
							<tr>
								<td><label style="color:#ffffff;">Name Car</label></td>
								<td><input style="border-radius: 10px;" type="text" name="name_car" required="" value="<%= !@cars.blank? ?  @cars.name_car : '' %>" ></td>
							</tr><br>
							<tr>
								<td><label style="color:#ffffff;">Model</label></td>
								<td><input style="border-radius: 10px;" type="text" name="model"  required="" value="<%= !@cars.blank? ?  @cars.model : '' %>"></td>
								<br>
							</tr>
							<tr>
								<td><label style="color:#ffffff;">Hour Cost</label></td>
								<td><input style="border-radius: 10px;" type="number"  min="1" step="any" name="hour_cost"  required="" value="<%= !@cars.blank? ?  @cars.hour_cost : '' %>"></td>
								<br>
							</tr>
							<tr>
							<td><label style="color:#ffffff;">Description</label></td>
							<td><textarea style="border-radius: 10px;" rows="2" cols="30"  name="description"  required="" ><%= !@cars.blank? ?  @cars.description : '' %></textarea></td>
							<br>
							</tr>
							<tr></tr>
							<tr></tr>
							<input type="hidden" name="id" value ="<%= @cars.id%>" ><br>
						</table>
					
						<p><input type="submit" value="Save" class="button button2">
						<a href="/"><button class="button button2">BACK</button></a><br></p>
						
					<%end%>
				</div>
			</div>
		</div>
	</div>
</body>
</html>