<!DOCTYPE html>
<html>
    <head>
        <title>Cars Availables</title>
    </head>
    <body>
        <div class="container">
	        <div class="d-flex justify-content-center h-100" align="center">
                <% @cars.each do |cars|%>
                    <div class="card" style="padding:20px;max-width:300px">
                        <h3 style="color:#ffffff;"><%=cars.name_car.upcase%></h3>
                        <p align="center"><img src="<%=cars.photo %>" width="200" height="100" align="center"></p>
                        <p><b>Description</b><br>
                        <%=cars.description%></p>
                        <p><b>Model</b><br>
                        <%=cars.model%></p>
                        <p><b>Hour Cost</b><br>
                        <%=cars.hour_cost%></p>
                        <p><b>Review</b><br>
                        <%=cars.review%></p>
                        <p><b>Rent Status</b><br>
                        <%=cars.rent_status%></p>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                <button class="button button2" style="padding:10px;width:88px"><%= link_to "SELECT", "view_car/#{cars.id}" %></button>
                                <a href="/"><button class="button button2" style="padding:10px;width:80px">BACK</button></a></p>
                            </div>
                        </div>
                    </div>
                        
                <%end%>
            </div>
        </div>
    </body>
</html>
